<h1><%= action.description || action.name %></h1>
<h2>URL</h2>
<p class='apiURLFull'><span><%= full_prefix %>/</span><%= action.controller.name %>/<%= action.name %></p>

<h2>Parameters</h2>
<% if action.params.empty? %>
  <p><em>This action doesn't support any parameters.</em></p>
<% else %>
  <table class='table paramTable'>
    <thead>
      <tr>
        <th width="60%">Parameter</th>
        <th width="20%">Type</th>
        <th width="20%">Default</th>
      </tr>
    </thead>
    <% for name, param in action.params %>
    <tr>
      <td>
        <p>
          <span class='paramTable__name'><%= name %></span>
          <% if param[:required] %><span class='paramTable__req'>Required</span><% end %>
        </p>
        <% if param[:description] %>
          <p class='paramTable__description'><%= param[:description] %></p>
        <% end %>
      </td>
      <td><%= friendly_type(param[:type]) %></td>
      <td>
        <% if param[:default] %>
          <%= param[:default] %>
        <% else %>
          <span class='paramTable__nil'>null</span>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
<% end %>

<h2>Errors</h2>

<% if action.errors.empty? %>
  <p><em>There are no action-specific errors which can be raised.</em></p>
<% else %>
  <table class='table errorsTable'>
    <thead>
      <tr>
        <th width="60%">Error</th>
        <th width="40%">Attributes</th>
      </tr>
    </thead>
    <% for name, error in action.errors %>
    <tr>
      <td>
        <p>
          <span class='paramTable__name'><%= name %></span>
          <% if error[:description] %>
            <p class='paramTable__description'><%= error[:description] %></p>
          <% end %>
        </p>
      </td>
      <td>
        <ul class='errorAttributeList'>
          <% for name, description in error[:attributes] %>
          <li>
            <p class='errorAttributeList__name'><%= name %></p>
            <p class='errorAttributeList__desc'><%= description %></p>
          </li>
          <% end %>
        </ul>
      </td>
    </tr>
    <% end %>
  </table>
<% end %>

<% if action.returns %>
<h2>Result Value</h2>
<% if action.returns[:structure] %>
  <% if action.returns[:type] == :array %>
    <p>This action will return an array of <%= action.returns[:structure] %> structures.</p>
  <% else %>
    <p>This action will return a <a class='link' href='<%= path("structures/#{action.returns[:structure]}.html") %>'><%= action.returns[:structure] %> structure</a>.</p>
  <% end %>
<% else %>
  <p>This action will return a <a class='link' href='<%= path("structures/#{action.returns[:structure]}.html") %>'><%= action.returns[:structure] %> structure</a>.</p>
<% end %>
<% end %>

<p class='text'><a class='link' href='<%= path("controllers/#{action.controller.name}.html") %>'>Back to action list</a></p>
