<form>
<input type='hidden' name='controller' value='<%= controller.name %>'>
<input type='hidden' name='action' value='<%= action.name %>'>
<dl>
  <input type='text' id='host' name='host' value='<%= host %>'>
  /api/
  <input type='text' id='version' name='version' value='v1'>
  /<%= controller.name %>/<%= action.name %>
</dl>
<% if action.authenticator_to_use.is_a?(Moonrope::Authenticator) %>
<h2>Headers</h2>
<table class='table paramTable'>
  <thead>
    <tr>
      <th width="50%">Header</th>
      <th width="50%">Value</th>
    </tr>
  </thead>
  <% for name, options in action.authenticator_to_use.headers %>
  <tr>
    <td><span class='paramTable__name'><%= name %></span></td>
    <td><input type='text' class='headerField' name='<%= name %>'></td>
  </tr>
  <% end %>
</table>
<% end %>

<h2>Parameters</h2>
<table class='table paramTable'>
  <thead>
    <tr>
      <th width="30%">Parameter</th>
      <th width="20%">Type</th>
      <th width="50%">Value</th>
    </tr>
  </thead>
  <% for name, param in action.params %>
  <tr>
    <td><span class='paramTable__name'><%= name %></span></td>
    <td><%= friendly_type param[:type] %></td>
    <td><input type='text' class='paramField' name='<%= name %>' placeholder='<%= param[:default] %>' data-type='<%= param[:type] %>'></td>
  </tr>
  <% end %>
</table>
<p><button type='submit'>Request</button></p>
</form>

<pre class='code' id="outputBox"></pre>

<script src='https://code.jquery.com/jquery-1.12.0.min.js'></script>
<script src='<%= asset_path('request.js') %>'></script>
