<% set_page_title controller.friendly_name || controller.name %>
<% set_active_nav "controller-#{controller.name}" %>
<h1><%= controller.friendly_name || controller.name %></h1>
<% if controller.description %>
  <p class='text'><%= controller.description %></p>
<% end %>
<h2>Action</h2>
<p class='text'>
  The following actions are available. Choose from the list below
  to view full details of how to access them.
</p>
<ul class='standardList'>
  <% for action in controller.actions.values.select { |a| a.doc != false } %>
  <li>
    <a class='link' href='<%= path("controllers/#{action.controller.name}/#{action.name}") %>'><%= action.title || action.name %></a>
    <p class='apiURL'><span><%= full_prefix %>/</span><b><%= action.controller.name %>/<%= action.name %></b></p>
    <% if action.description %><p class='meta'><%= action.description %></p><% end %>
  </li>
  <% end %>
</ul>
