<!DOCTYPE html>
<html>
  <head>
    <title>API Docs</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="<%= asset_path('reset.css') %>">
    <link rel="stylesheet" href="<%= asset_path('style.css') %>">
  </head>
  <body>
    <section class='sidebarBackground'></section>
    <section class="sidebar">
      <nav>
        <ul>
          <% for controller in base.controllers %>
          <li>
            <a href='<%= path("controllers/#{controller.name}.html") %>'>
              <%= controller.name %>
            </a>
          </li>
          <% end %>
        </ul>
      </nav>
    </section>
    <section class='content'>
      <%= body %>
    </section>
  </body>
</html>
